.nav-style {
  border: 1px solid #3b36329b !important;
  background: linear-gradient(to top, #d7d7d6b6, #181a19f0);
  box-shadow: 50px 20px 100px rgba(126, 118, 111, 0.865);
}
/* 
.logo {
  width: 200px;
} */
